In [33]:
import pandas as pd

df = pd.read_csv('aqidataset.csv')

In [34]:
df

,Unnamed: 0,Date,Overall AQI Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),Ozone,PM25,CO,PM10,NO2,AQI category,city,state
0,0,01/01/2023,28,Ozone,Connecticut Hill,36-109-9991,AQS,28,.,NaN,NaN,NaN,Good,Ithaca,NY
1,1,01/02/2023,26,Ozone,Connecticut Hill,36-109-9991,AQS,26,.,NaN,NaN,NaN,Good,Ithaca,NY
2,2,01/03/2023,21,Ozone,Connecticut Hill,36-109-9991,AQS,21,.,NaN,NaN,NaN,Good,Ithaca,NY
3,3,01/04/2023,25,Ozone,Connecticut Hill,36-109-9991,AQS,25,.,NaN,NaN,NaN,Good,Ithaca,NY
4,4,01/05/2023,31,Ozone,Connecticut Hill,36-109-9991,AQS,31,.,NaN,NaN,NaN,Good,Ithaca,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10919,10919,12/27/2023,54,PM2.5,TACOMA - ALEXANDER AVE,53-053-0031,AQS,40,54,2,.,26,Moderate,Seattle,WA
10920,10920,12/28/2023,41,PM2.5,DARRINGTON - FIR ST (Darrington High School),53-061-0020,AirNow,40,41,2,.,28,Good,Seattle,WA
10921,10921,12/29/2023,41,Ozone,MT RAINIER - JACKSON VISITIORS CENTER,53-053-0012,AQS,41,38,2,6,30,Good,Seattle,WA
10922,10922,12/30/2023,42,Ozone,MT RAINIER - JACKSON VISITIORS CENTER,53-053-0012,AQS,42,38,2,.,25,Good,Seattle,WA
10923,10923,12/31/2023,60,PM2.5,MARYSVILLE - 7TH AVE (Marysville Junior High),53-061-1007,AQS,39,60,3,.,30,Moderate,Seattle,WA

In [35]:
# Replace '.' with None
df.replace(to_replace = '.', value = None, inplace = True)

In [36]:
# Remove Empty Cells
df.dropna(inplace = True)

In [37]:
df

,Unnamed: 0,Date,Overall AQI Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),Ozone,PM25,CO,PM10,NO2,AQI category,city,state
357,357,01/01/2023,74,PM2.5,REGIONAL OFFICE BUILDING,17-031-4007,AQS,15,74,7,26.0,21.0,Moderate,Chicago,IL
358,358,01/02/2023,73,PM2.5,Hammond- 167th St,18-089-0036,AQS,19,73,7,19.0,28.0,Moderate,Chicago,IL
359,359,01/03/2023,55,PM2.5,Hammond- 167th St,18-089-0036,AQS,19,55,6,31.0,25.0,Moderate,Chicago,IL
360,360,01/04/2023,37,PM2.5,VILLAGE GARAGE,17-031-0001,AQS,21,37,3,17.0,25.0,Good,Chicago,IL
361,361,01/05/2023,54,PM2.5,CHIWAUKEE PRAIRIE STATELINE,55-059-0019,AQS,20,54,5,19.0,29.0,Moderate,Chicago,IL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10909,10909,12/17/2023,83,PM2.5,MARYSVILLE - 7TH AVE (Marysville Junior High),53-061-1007,AQS,45,83,6,11,17,Moderate,Seattle,WA
10912,10912,12/20/2023,63,PM2.5,DARRINGTON - FIR ST (Darrington High School),53-061-0020,AirNow,41,63,7,6,25,Moderate,Seattle,WA
10915,10915,12/23/2023,56,PM2.5,MARYSVILLE - 7TH AVE (Marysville Junior High),53-061-1007,AQS,40,56,6,8,25,Moderate,Seattle,WA
10918,10918,12/26/2023,39,Ozone,MT RAINIER - JACKSON VISITIORS CENTER,53-053-0012,AQS,39,26,3,4,27,Good,Seattle,WA
10921,10921,12/29/2023,41,Ozone,MT RAINIER - JACKSON VISITIORS CENTER,53-053-0012,AQS,41,38,2,6,30,Good,Seattle,WA

In [38]:
# Remove ID-type columns
df.drop(['Unnamed: 0', 'Site ID (of Overall AQI)', 'Source (of Overall AQI)', 'Main Pollutant'], axis=1, inplace = True)

In [39]:
df

,Date,Overall AQI Value,Site Name (of Overall AQI),Ozone,PM25,CO,PM10,NO2,AQI category,city,state
357,01/01/2023,74,REGIONAL OFFICE BUILDING,15,74,7,26.0,21.0,Moderate,Chicago,IL
358,01/02/2023,73,Hammond- 167th St,19,73,7,19.0,28.0,Moderate,Chicago,IL
359,01/03/2023,55,Hammond- 167th St,19,55,6,31.0,25.0,Moderate,Chicago,IL
360,01/04/2023,37,VILLAGE GARAGE,21,37,3,17.0,25.0,Good,Chicago,IL
361,01/05/2023,54,CHIWAUKEE PRAIRIE STATELINE,20,54,5,19.0,29.0,Moderate,Chicago,IL
...,...,...,...,...,...,...,...,...,...,...,...
10909,12/17/2023,83,MARYSVILLE - 7TH AVE (Marysville Junior High),45,83,6,11,17,Moderate,Seattle,WA
10912,12/20/2023,63,DARRINGTON - FIR ST (Darrington High School),41,63,7,6,25,Moderate,Seattle,WA
10915,12/23/2023,56,MARYSVILLE - 7TH AVE (Marysville Junior High),40,56,6,8,25,Moderate,Seattle,WA
10918,12/26/2023,39,MT RAINIER - JACKSON VISITIORS CENTER,39,26,3,4,27,Good,Seattle,WA
10921,12/29/2023,41,MT RAINIER - JACKSON VISITIORS CENTER,41,38,2,6,30,Good,Seattle,WA

In [40]:
df['Date']

357      01/01/2023
358      01/02/2023
359      01/03/2023
360      01/04/2023
361      01/05/2023
            ...
10909    12/17/2023
10912    12/20/2023
10915    12/23/2023
10918    12/26/2023
10921    12/29/2023
Name: Date, Length: 6494, dtype: object

In [41]:
# Keep only the year in Date
for date in df['Date']:
    df['Date'] = date[6:10]

In [42]:
df

,Date,Overall AQI Value,Site Name (of Overall AQI),Ozone,PM25,CO,PM10,NO2,AQI category,city,state
357,2023,74,REGIONAL OFFICE BUILDING,15,74,7,26.0,21.0,Moderate,Chicago,IL
358,2023,73,Hammond- 167th St,19,73,7,19.0,28.0,Moderate,Chicago,IL
359,2023,55,Hammond- 167th St,19,55,6,31.0,25.0,Moderate,Chicago,IL
360,2023,37,VILLAGE GARAGE,21,37,3,17.0,25.0,Good,Chicago,IL
361,2023,54,CHIWAUKEE PRAIRIE STATELINE,20,54,5,19.0,29.0,Moderate,Chicago,IL
...,...,...,...,...,...,...,...,...,...,...,...
10909,2023,83,MARYSVILLE - 7TH AVE (Marysville Junior High),45,83,6,11,17,Moderate,Seattle,WA
10912,2023,63,DARRINGTON - FIR ST (Darrington High School),41,63,7,6,25,Moderate,Seattle,WA
10915,2023,56,MARYSVILLE - 7TH AVE (Marysville Junior High),40,56,6,8,25,Moderate,Seattle,WA
10918,2023,39,MT RAINIER - JACKSON VISITIORS CENTER,39,26,3,4,27,Good,Seattle,WA
10921,2023,41,MT RAINIER - JACKSON VISITIORS CENTER,41,38,2,6,30,Good,Seattle,WA

In [43]:
# Remove Ducplicate
df.drop_duplicates(inplace = True)

In [44]:
df

,Date,Overall AQI Value,Site Name (of Overall AQI),Ozone,PM25,CO,PM10,NO2,AQI category,city,state
357,2023,74,REGIONAL OFFICE BUILDING,15,74,7,26.0,21.0,Moderate,Chicago,IL
358,2023,73,Hammond- 167th St,19,73,7,19.0,28.0,Moderate,Chicago,IL
359,2023,55,Hammond- 167th St,19,55,6,31.0,25.0,Moderate,Chicago,IL
360,2023,37,VILLAGE GARAGE,21,37,3,17.0,25.0,Good,Chicago,IL
361,2023,54,CHIWAUKEE PRAIRIE STATELINE,20,54,5,19.0,29.0,Moderate,Chicago,IL
...,...,...,...,...,...,...,...,...,...,...,...
10909,2023,83,MARYSVILLE - 7TH AVE (Marysville Junior High),45,83,6,11,17,Moderate,Seattle,WA
10912,2023,63,DARRINGTON - FIR ST (Darrington High School),41,63,7,6,25,Moderate,Seattle,WA
10915,2023,56,MARYSVILLE - 7TH AVE (Marysville Junior High),40,56,6,8,25,Moderate,Seattle,WA
10918,2023,39,MT RAINIER - JACKSON VISITIORS CENTER,39,26,3,4,27,Good,Seattle,WA
10921,2023,41,MT RAINIER - JACKSON VISITIORS CENTER,41,38,2,6,30,Good,Seattle,WA

In [45]:
#Change type of some columns to float64
df[['Date', 'Overall AQI Value', 'Ozone', 'PM25', 'CO', 'PM10', 'NO2']] = df[['Date', 'Overall AQI Value', 'Ozone', 'PM25', 'CO', 'PM10', 'NO2']].astype('float')

In [46]:
#Change type of some columns to int64
df[['Date', 'Overall AQI Value', 'Ozone', 'PM25', 'CO', 'PM10', 'NO2']] = df[['Date', 'Overall AQI Value', 'Ozone', 'PM25', 'CO', 'PM10', 'NO2']].astype('int64')

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6494 entries, 357 to 10921
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        6494 non-null   int64
 1   Overall AQI Value           6494 non-null   int64
 2   Site Name (of Overall AQI)  6494 non-null   object
 3   Ozone                       6494 non-null   int64
 4   PM25                        6494 non-null   int64
 5   CO                          6494 non-null   int64
 6   PM10                        6494 non-null   int64
 7   NO2                         6494 non-null   int64
 8   AQI category                6494 non-null   object
 9   city                        6494 non-null   object
 10  state                       6494 non-null   object
dtypes: int64(7), object(4)
memory usage: 608.8+ KB

In [48]:
df.to_csv('Processing_01.csv', index = False)