In [13]:
import pandas as pd

df = pd.read_csv('./data/OHE.csv')

In [14]:
df

,Overall AQI Value,Ozone,PM25,CO,PM10,NO2,AQI category,Date,Month,Year,...,MD,MI,MN,NC,NY,OH,OR,PA,TX,VA
0,30,27,30,6,8,21,Good,12,26,2023,...,0,0,0,0,0,0,0,0,0,1
1,30,30,29,9,8,21,Good,9,12,2023,...,0,1,0,0,0,0,0,0,0,0
2,84,84,54,6,23,33,Moderate,9,19,2023,...,0,0,0,0,0,0,0,0,0,0
3,58,38,58,8,14,25,Moderate,5,5,2023,...,0,0,0,0,0,0,0,1,0,0
4,48,48,23,3,11,18,Good,2,22,2023,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,49,49,46,6,10,15,Good,9,4,2023,...,0,0,0,1,0,0,0,0,0,0
6490,58,58,36,5,14,23,Moderate,6,3,2023,...,0,0,0,0,0,0,0,0,0,0
6491,67,67,25,7,36,49,Moderate,3,31,2023,...,0,0,0,0,0,0,0,0,0,0
6492,45,45,41,5,19,35,Good,5,18,2023,...,0,0,0,0,1,0,0,0,0,0
6493,26,26,14,3,5,6,Good,10,14,2023,...,0,0,0,0,0,1,0,0,0,0

In [21]:
#split train-test dataset
train = df.iloc[:5194,:]
test = df.iloc[5194:,:]

In [25]:
#seperate output and input of test dataset
y_test = test['AQI category']
y_test

5194                          Moderate
5195    Unhealthy for Sensitive Groups
5196                          Moderate
5197                          Moderate
5198                          Moderate
                     ...
6489                              Good
6490                          Moderate
6491                          Moderate
6492                              Good
6493                              Good
Name: AQI category, Length: 1300, dtype: object

In [28]:
x_test = test.drop(['AQI category'], axis = 1)
x_test

,Overall AQI Value,Ozone,PM25,CO,PM10,NO2,Date,Month,Year,A420910013LAT/LON POINT IS OF CORNER OF TRAILER,...,MD,MI,MN,NC,NY,OH,OR,PA,TX,VA
5194,51,51,37,5,21,27,3,29,2023,0,...,0,0,1,0,0,0,0,0,0,0
5195,115,115,81,3,50,29,6,20,2023,0,...,0,0,0,0,0,0,0,0,0,0
5196,62,42,62,8,27,31,6,15,2023,0,...,0,1,0,0,0,0,0,0,0,0
5197,64,31,64,9,30,42,2,2,2023,0,...,0,0,0,0,0,0,0,1,0,0
5198,59,45,55,5,59,22,10,5,2023,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,49,49,46,6,10,15,9,4,2023,0,...,0,0,0,1,0,0,0,0,0,0
6490,58,58,36,5,14,23,6,3,2023,0,...,0,0,0,0,0,0,0,0,0,0
6491,67,67,25,7,36,49,3,31,2023,0,...,0,0,0,0,0,0,0,0,0,0
6492,45,45,41,5,19,35,5,18,2023,0,...,0,0,0,0,1,0,0,0,0,0
6493,26,26,14,3,5,6,10,14,2023,0,...,0,0,0,0,0,1,0,0,0,0

In [30]:
# y_test, x_test to csv files
x_test.to_csv('./data/x_test_dataset.csv', index = False)
y_test.to_csv('./data/y_test_dataset.csv', index = False)

In [32]:
index_split = 0.8*len(train)
index_split

4155.2

In [36]:
#split train set in to train and val set
train_dataset = train.iloc[:4154,:]
val_dataset = train.iloc[4154:,:]

In [37]:
train_dataset

,Overall AQI Value,Ozone,PM25,CO,PM10,NO2,AQI category,Date,Month,Year,...,MD,MI,MN,NC,NY,OH,OR,PA,TX,VA
0,30,27,30,6,8,21,Good,12,26,2023,...,0,0,0,0,0,0,0,0,0,1
1,30,30,29,9,8,21,Good,9,12,2023,...,0,1,0,0,0,0,0,0,0,0
2,84,84,54,6,23,33,Moderate,9,19,2023,...,0,0,0,0,0,0,0,0,0,0
3,58,38,58,8,14,25,Moderate,5,5,2023,...,0,0,0,0,0,0,0,1,0,0
4,48,48,23,3,11,18,Good,2,22,2023,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4149,42,42,38,3,14,21,Good,10,28,2023,...,0,0,0,0,0,0,0,0,0,0
4150,59,29,59,2,10,5,Moderate,10,30,2023,...,0,0,0,0,0,0,1,0,0,0
4151,50,50,35,5,17,22,Good,5,29,2023,...,0,0,0,0,0,0,0,0,0,0
4152,54,31,54,8,29,24,Moderate,7,16,2023,...,0,0,0,0,0,0,0,0,0,0
4153,74,74,60,5,21,30,Moderate,5,25,2023,...,0,0,0,1,0,0,0,0,0,0

In [38]:
val_dataset

,Overall AQI Value,Ozone,PM25,CO,PM10,NO2,AQI category,Date,Month,Year,...,MD,MI,MN,NC,NY,OH,OR,PA,TX,VA
4154,48,48,38,10,15,29,Good,6,12,2023,...,0,0,0,0,0,0,0,0,0,0
4155,48,43,48,8,16,26,Good,3,5,2023,...,0,0,0,0,0,0,0,0,0,0
4156,29,29,23,5,7,26,Good,1,21,2023,...,0,0,0,1,0,0,0,0,0,0
4157,61,61,27,5,8,30,Moderate,6,4,2023,...,0,0,0,0,0,0,0,0,0,0
4158,36,33,36,5,15,9,Good,4,29,2023,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5189,81,24,81,9,43,31,Moderate,11,30,2023,...,0,1,0,0,0,0,0,0,0,0
5190,58,58,41,7,37,35,Moderate,3,25,2023,...,0,0,0,0,0,0,0,0,0,0
5191,57,47,57,3,18,9,Moderate,8,6,2023,...,0,0,0,0,0,0,0,0,0,0
5192,93,93,70,20,51,68,Moderate,11,3,2023,...,0,0,0,0,0,0,0,0,0,0
5193,42,42,33,5,18,25,Good,4,10,2023,...,0,0,0,0,0,0,0,0,0,0

In [39]:
#seperate input and output of train dataset
y_train = train_dataset['AQI category']
y_train

0           Good
1           Good
2       Moderate
3       Moderate
4           Good
          ...
4149        Good
4150    Moderate
4151        Good
4152    Moderate
4153    Moderate
Name: AQI category, Length: 4154, dtype: object

In [40]:
x_train = train_dataset.drop(['AQI category'], axis = 1)
x_train

,Overall AQI Value,Ozone,PM25,CO,PM10,NO2,Date,Month,Year,A420910013LAT/LON POINT IS OF CORNER OF TRAILER,...,MD,MI,MN,NC,NY,OH,OR,PA,TX,VA
0,30,27,30,6,8,21,12,26,2023,0,...,0,0,0,0,0,0,0,0,0,1
1,30,30,29,9,8,21,9,12,2023,0,...,0,1,0,0,0,0,0,0,0,0
2,84,84,54,6,23,33,9,19,2023,0,...,0,0,0,0,0,0,0,0,0,0
3,58,38,58,8,14,25,5,5,2023,0,...,0,0,0,0,0,0,0,1,0,0
4,48,48,23,3,11,18,2,22,2023,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4149,42,42,38,3,14,21,10,28,2023,0,...,0,0,0,0,0,0,0,0,0,0
4150,59,29,59,2,10,5,10,30,2023,0,...,0,0,0,0,0,0,1,0,0,0
4151,50,50,35,5,17,22,5,29,2023,0,...,0,0,0,0,0,0,0,0,0,0
4152,54,31,54,8,29,24,7,16,2023,0,...,0,0,0,0,0,0,0,0,0,0
4153,74,74,60,5,21,30,5,25,2023,0,...,0,0,0,1,0,0,0,0,0,0

In [41]:
# y_train, x_train to csv files
x_train.to_csv('./data/x_train_dataset.csv', index = False)
y_train.to_csv('./data/y_train_dataset.csv', index = False)

,Overall AQI Value,Ozone,PM25,CO,PM10,NO2,AQI category,Date,Month,Year,...,MD,MI,MN,NC,NY,OH,OR,PA,TX,VA
4154,48,48,38,10,15,29,Good,6,12,2023,...,0,0,0,0,0,0,0,0,0,0
4155,48,43,48,8,16,26,Good,3,5,2023,...,0,0,0,0,0,0,0,0,0,0
4156,29,29,23,5,7,26,Good,1,21,2023,...,0,0,0,1,0,0,0,0,0,0
4157,61,61,27,5,8,30,Moderate,6,4,2023,...,0,0,0,0,0,0,0,0,0,0
4158,36,33,36,5,15,9,Good,4,29,2023,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5189,81,24,81,9,43,31,Moderate,11,30,2023,...,0,1,0,0,0,0,0,0,0,0
5190,58,58,41,7,37,35,Moderate,3,25,2023,...,0,0,0,0,0,0,0,0,0,0
5191,57,47,57,3,18,9,Moderate,8,6,2023,...,0,0,0,0,0,0,0,0,0,0
5192,93,93,70,20,51,68,Moderate,11,3,2023,...,0,0,0,0,0,0,0,0,0,0
5193,42,42,33,5,18,25,Good,4,10,2023,...,0,0,0,0,0,0,0,0,0,0

In [43]:
#seperate input and output of val dataset
y_val = val_dataset['AQI category']
y_val

4154        Good
4155        Good
4156        Good
4157    Moderate
4158        Good
          ...
5189    Moderate
5190    Moderate
5191    Moderate
5192    Moderate
5193        Good
Name: AQI category, Length: 1040, dtype: object

In [44]:
x_val = val_dataset.drop(['AQI category'], axis = 1)
x_val

,Overall AQI Value,Ozone,PM25,CO,PM10,NO2,Date,Month,Year,A420910013LAT/LON POINT IS OF CORNER OF TRAILER,...,MD,MI,MN,NC,NY,OH,OR,PA,TX,VA
4154,48,48,38,10,15,29,6,12,2023,0,...,0,0,0,0,0,0,0,0,0,0
4155,48,43,48,8,16,26,3,5,2023,0,...,0,0,0,0,0,0,0,0,0,0
4156,29,29,23,5,7,26,1,21,2023,0,...,0,0,0,1,0,0,0,0,0,0
4157,61,61,27,5,8,30,6,4,2023,0,...,0,0,0,0,0,0,0,0,0,0
4158,36,33,36,5,15,9,4,29,2023,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5189,81,24,81,9,43,31,11,30,2023,0,...,0,1,0,0,0,0,0,0,0,0
5190,58,58,41,7,37,35,3,25,2023,0,...,0,0,0,0,0,0,0,0,0,0
5191,57,47,57,3,18,9,8,6,2023,0,...,0,0,0,0,0,0,0,0,0,0
5192,93,93,70,20,51,68,11,3,2023,0,...,0,0,0,0,0,0,0,0,0,0
5193,42,42,33,5,18,25,4,10,2023,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
# y_val, x_val to csv files
x_val.to_csv('./data/x_val_dataset.csv', index = False)
y_val.to_csv('./data/y_val_dataset.csv', index = False)